# ignore python / pycharm files
**/__pycache__/
*.pyc
.idea

# ignore data downloaded and build up by setup.sh
conll-2012
data
predictions/

# ignore local files
local
predictions
wandb

# ignore ontonotes data
ontonotes-release-5.0

# ignore CorefUD data
CorefUD-1.0-public

logs
wandb

*.sh