# ignore python / pycharm files
**/__pycache__/
*.pyc
.idea

# ignore checkpoints
data/ckpt

# ignore data downloaded and build up by setup.sh
conll-2012
data/data
data/embs

# ignore local files
local

# ignore ontonotes data
ontonotes-release-5.0

# ignore CorefUD data
CorefUD-1.0-public

logs

tokenize.sh
train.sh