# ignore python / pycharm files
**/__pycache__/
*.pyc
.idea

# ignore checkpoints and other data
data

# ignore data downloaded and build up by setup.sh
conll-2012

# ignore predictions
predictions

# ignore local files
local

# ignore ontonotes data
ontonotes-release-5.0

# ignore CorefUD data
CorefUD-1.0-public
datasets

# ignore logs
logs

# ignore wandb
wandb

# ignore slurm scripts
evaluate.sh
queue.sh
train.sh
train-alpine.sh
train-amd.sh
tokenize.sh
